.app {
    display: grid;
    grid-template-columns: 495px 1fr;
    gap: 24px;
    padding: 16px;
    align-items: start;
}

.form-column {
  top: 0;
  background: var(--bg);
  z-index: 10;
  padding-top: 16px;
}