.app {
    display: grid;
    grid-template-columns: 495px 1fr;
    gap: 24px;
    padding: 16px;

    flex: 1;
    min-height: 0; 
}

.form-column {
  position: sticky;
  top: 72px; /* adjust based on navbar height */
  height: fit-content;
}

.content-column {
    overflow-y: auto;
    min-height: 0;
}

@media (max-width: 768px) {
    .app {
        grid-template-columns: 1fr;
        height: auto;
        overflow: visible;
    }

    .content-column {
      overflow-y: visible;
      height: auto;
    }
}